thead , th, td{
     border: 2px solid white;
    padding: 9px;
    
    background-color: red;
    text-align: center;
    font-size: 20px;
    
}

.Q{
    background-color: green;
}

td{
    background-color: rgb(151, 89, 209);
}

table{
    width: 100%;
    border-collapse: collapse;
   
}

.W{
    width: 300px;
    background-color: rgb(11, 236, 11);

    border: none;
    font-size: 20px;
}



